body {
     margin:0; 
}

        

.leaflet-popup-content-wrapper {
    background-color: blueviolet;
    color: aliceblue;
}

.leaflet-popup-tip {
    background-color: blueviolet;
}


.custom-icon {
    background-image: url('images/green_roomG.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.custom-icon div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.custom-icon2 {
    background-image: url('images/green_room1.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.custom-icon2 div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.custom-icon3 {
    background-image: url('images/green_room2.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.custom-icon3 div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.custom-icon24 {
    background-image: url('images/green_roomG.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.custom-icon24 div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.custom-icon44 {
    background-image: url('images/green_roomG.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.custom-icon44 div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.trophee {
    background-image: url('images/trophy.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.trophee div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.medical {
    background-image: url('images/medical.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.medical div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.medical {
    background-image: url('images/medical.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.medical div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 20
}

.registration {
    background-image: url('images/registration.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.registration div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}

.media {
    background-image: url('images/media.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.media div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}

.office {
    background-image: url('images/office.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.office div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}

.computer {
    background-image: url('images/computer.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.computer div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}

.live {
    background-image: url('images/live.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.live div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}


.judge {
    background-image: url('images/judges.png');
    background-size: 100% 100%;
    width: 60px;  /* Adjust the width and height to match your icon's dimensions */
    height: 60px;
}
.judge div {
    font-weight: bold;
    color: #110f0f;
    text-align: center;
    position: absolute; /* Position the text absolutely within the .custom-icon container */
    top: -10px; /* Adjust the top value to move the text above the marker */
    width: 100%; /* Make the text span the full width of the marker */
    white-space: nowrap;
    right: 40
}




